---
import Section from "./Section.astro";

---

<Section
    id='accessories'
    title='Carga' 
    subtitle='' 
    color='black'>
    <img 
        slot="background"
        class="object-top object-cover h-full w-full" 
        src="/accessories.avif"
        alt="Accessories"
    >
    <div slot="footerButton">
        <a 
            class="text-white border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
            href="#">
            Comprar ahora
        </a>
    </div>
</Section>